
.feed {
    background-image: url(https://user-images.githubusercontent.com/2923782/95322495-7f5e4a80-0894-11eb-88f9-558e4a059aaf.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
.fd{
  background-image: url(https://user-images.githubusercontent.com/2923782/95322495-7f5e4a80-0894-11eb-88f9-558e4a059aaf.png);
  }
  